input {
  width: 100%;
  border: 1px solid #d66;
}
input[type=text] {
align-items: center;
  width: 40%;
  padding: 12px 20px;
  margin:10px 10px;
  box-sizing: border-box;
  border: 2px black;
  border-radius: 4px;
  border-bottom: 2px black;
  background-color: #3CBC8D;
  color: grey;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
}