<!DOCTYPE html>
<html>
<head>
  <title>contact us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.ico"/>
  <link href="/static/about.css" rel="stylesheet" type="text/css">
  <script src="/static/navbar.js"></script>
</head>
<body>

<div class="topnav" id="myTopnav">

  <a href={{url_for('index')}}>HOME</a>
  <a href={{url_for('data')}}> DATA </a>
  <a href={{url_for('facts')}}> FACTS </a>
  <a href={{url_for('health')}}> HEALTH CENTERS </a>
  <a href={{url_for('contact')}}> CONTACTS </a>
  <a href={{url_for('about')}}> ABOUT US</a>
  <button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<br>
<br>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/user.png" alt="Saksham Gupta" style="width:75%" align="center">
      <div class="container">
        <h2>Saksham Gupta</h2>
        <p class="title">Computer Science, TIET</p>
        <p>Enthusiastic in learning daily.</p>
        <p>sgupta_bemba17@thapar.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/user.png" alt="Shiva Thavani" style="width:75%" align="center">
      <div class="container">
        <h2>Shiva Thavani</h2>
        <p class="title">Computer Science, TIET</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sthavani_bemba17@thapar.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/user.png" alt="Kritika Ahuja" style="width:75%" align="center">
      <div class="container">
        <h2>Kritika Ahuja</h2>
        <p class="title">Computer Science, TIET</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>kahuja_bemba17@thapar.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>