<!DOCTYPE html>
<html>
<head>
	<title>contact us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/favicon.ico"/>
	<link href="/static/pip.css" rel="stylesheet" type="text/css">
	<script src="/static/navbar.js"></script>
</head>
<body>
	<div class="topnav" id="myTopnav">

  <a href={{url_for('index')}}>HOME</a>
  <a href={{url_for('data')}}> DATA </a>
  <a href={{url_for('facts')}}> FACTS </a>
  <a href={{url_for('health')}}> HEALTH CENTERS </a>
  <a class='active' href={{url_for('contact')}}> CONTACTS </a>
  <a href={{url_for('about')}}> ABOUT US</a>
  <button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<center>
	<br>
	<br>
<a href="https://www.google.com/search?q=child%20hospital%20in%20patiala&rlz=1C1CHBF_enIN864IN864&oq=child+hos&aqs=chrome.1.0l2j69i57j0j69i60l2.6006j0j7&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=30338619,76378078,997&tbm=lcl&rldimm=4615319522736806302&ved=2ahUKEwiys6iHzK7kAhUhTI8KHZcVCg4QvS4wAXoECAoQKA&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:4615319522736806302;mv:!1m2!1d30.365595700000004!2d76.411035!2m2!1d30.317851299999997!2d76.3531608;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2">
  <button style="font-size:24px"><i class="fa fa-file-pdf-o">HOSPITALS IN PATIALA:</i></button>
</a>
<br>
<br>
<br>
<a href="https://www.google.com/search?q=hospital%20in%20jalandhar&rlz=1C1CHBF_enIN864IN864&oq=hospital+in+jal&aqs=chrome.0.0j69i57j0l4.5367j0j7&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=31332904,75587814,3615&tbm=lcl&rldimm=14985593133375314279&ved=2ahUKEwiw99Hsy67kAhURk3AKHfwpDbgQvS4wAHoECAoQIA&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:14985593133375314279;mv:!1m2!1d31.3704601!2d75.6370498!2m2!1d31.2949234!2d75.5462675;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2">
  <button style="font-size:24px">HOSPITALS IN JALANDHAR<i class="fa fa-file-pdf-o"></i></button>
</a>
<br>
<br>
<br>
<a href="https://www.google.com/search?q=hospital%20in%20chandigarh&rlz=1C1CHBF_enIN864IN864&oq=hospital+in+ch&aqs=chrome.1.69i57j0l5.10018j0j7&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=30725379,76741528,3071&tbm=lcl&rldimm=10876397189449002905&ved=2ahUKEwjpx9Dyy67kAhVGgI8KHe_uAVwQvS4wAHoECAoQIA&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:10876397189449002905;mv:!1m2!1d30.766427!2d76.80785660000001!2m2!1d30.6913796!2d76.70900019999999;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2">
  <button style="font-size:24px">HOSPITALS IN CHANDIGARH<i class="fa fa-file-pdf-o"></i></button>
</a>
<br>
<br>
<br>
<a href="https://www.google.com/search?q=hospital%20in%20amritsar&rlz=1C1CHBF_enIN864IN864&oq=hospital+in+am&aqs=chrome.0.0l2j69i57j0l3.7540j0j7&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=31648588,74880991,3958&tbm=lcl&rldimm=9359826604506638403&ved=2ahUKEwi7j9_3y67kAhXINo8KHQqiAOsQvS4wAHoECAoQIA&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:9359826604506638403;mv:!1m2!1d31.675960099999998!2d74.9227563!2m2!1d31.616791199999998!2d74.8392271;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2">
  <button style="font-size:24px">HOSPITALS IN AMRITSAR<i class="fa fa-file-pdf-o"></i></button>
</a>
<br>
<br>
<br>
<a href="https://www.google.com/search?q=hospital%20in%20ludhiana&rlz=1C1CHBF_enIN864IN864&oq=hospital+in+ludhiana&aqs=chrome..69i57j0l5.4905j0j7&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=30886512,75889981,4332&tbm=lcl&rldimm=3117204387321320058&ved=2ahUKEwj7mvD7y67kAhUH2o8KHYSOCJIQvS4wAHoECAoQIA&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:3117204387321320058;mv:!1m2!1d30.918779299999997!2d75.94485870000001!2m2!1d30.872218699999998!2d75.7660903;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2">
  <button style="font-size:24px">HOSPITALS IN LUDHIANA<i class="fa fa-file-pdf-o"></i></button>
</a>
<br>
<br>
</center>
</body>
</html>