<!DOCTYPE html>
<html>
<head>
	<title>Google Maps</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="/static/maps.css">
</head>
<body>
	<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d54527.78690891739!2d75.55663901840113!3d31.331740912082147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shospitals%20in%20jalandhar!5e0!3m2!1sen!2sin!4v1567228719595!5m2!1sen!2sin" width="1350" height="650" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</body>
</html>